/* Estilos para el contenedor principal */
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="checkbox"] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  padding: 10px;
  cursor: pointer;
}

/* Estilos para la lista de tareas */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #353535;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilos para el checkbox y el texto */
.checkText {
  font-size: x-large;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
}

/* Estilos para los botones */
.row-button {
  display: flex;
  gap: 10px;
}

.button-input {
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 16px;
  border-start-end-radius: 16px;
}

input {
  background-color: #353535;
  padding: 12px 10px;
  font-size: 16px;
  border-start-start-radius: 16px;
  border-end-start-radius: 16px;
  border-bottom: #858585 1px solid;
}

button {
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;
  font-weight: 600;
  border-bottom: #858585 1px solid;
}

button:hover {
  background-color: #0056b3;
}
button:active {
  border-bottom: none;
}

/* Estilo para el botón de eliminar */
button:nth-child(1) {
  background-color: #dc3545;
}

button:nth-child(1):hover {
  background-color: #c82333;
}
