h1 {
  color: #b0b9c2;
  font-size: 48px;
}

input {
  border-radius: 8px;
  padding: 4px 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  gap: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  color: white;
  background-color: darkorchid;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 8px;
}

button:hover {
  color: lightgray;
}
